@import url('https://cdnjs.cloudflare.com/ajax/libs/Iosevka/6.0.0/iosevka-aile/iosevka-aile.min.css');

html {
    font-size: 54px;
}

body {
  /* Generated with the excellent https://cssgradient.io/ */
  background: rgba(68,52,101,1);
  background: linear-gradient(45deg, rgba(68,52,101,1)  0%, rgba(55,54,77,1) 45%, rgba(41,45,62,1) 100%);

  color: #eeffff;
  font-family: "Iosevka Aile Web";
  margin: 0px 80px;

  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

a {
  color: #eeffff;
}

div.slide-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  break-after: page;
}

div.slide {
    margin: auto;
}

div.text {
    text-align: center;
}

div.text-5 {
    font-size: 6.5em;
}

div.text-10 {
    font-size: 3em;
}

div.text-15 {
    font-size: 2.2em;
}

div.text-20 {
    font-size: 1.6em;
}

div.text-long {
    font-size: 1.4em;
}

div.title-text {
    color: #89aaeb;
    font-weight: bold;
}

div.title-details {
    width: 100%;
    margin-top: auto;
    font-size: 0.7em;
    text-align: right;
    align-self: end;
    padding-top: 15%;
}

div.event-text {
    color: #c3e88d;
}

div.section {
    width: 100%;
    text-align: center;
}

div.section-title {
    color: #89aaeb;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 35px;
}

div.section-subtitle {
}

div.hint-container {
    width: 100%;
    text-align: right;
}

div.bullets {
    margin: 70px;
    text-align: left;
    font-size: 1.5em;
    align-self: start;
}

div.hint-text {
    font-size: 20px;
    padding-bottom: 30px;
    color: #5c638a;
}


/* Make the page print in landscape mode with no margin. */
@page {
    size: landscape;
    margin: 0mm;
}
